{% extends 'base.html' %}

{% load static %}
 

    {% block content %}
      
      <div class="container text-center">        
         <div class="row justify-content-center">         
            <div class="col-md-8 " style="margin-top: 100pt;">
            <img src="{% static 'images/H7.png' %}" class="img-fluid" alt="hedwig1" width="600pt" height="200pt">
      <form class="needs-validation" novalidate method="POST" action="" id="demoform"> 
              {% csrf_token %}                      
                <div class="input-group mb-3">
                  <input class="form-control form-control-lg" type="text" placeholder="Search" aria-label=".form-control-md example" name="query" style="width: 50%; border-color: rgb(139,69,19); box-shadow: rgb(218,165,32); font-family: 'Bookman Old Style'">                   
                  <button class="btn btn btn-outline-light" type="submit" id="button-search" style="color: rgb(218,165,32); border-color: rgb(139,69,19);" ><i class="fa fa-search"></i></button>                                                               
                </div> 
                <div class="row justify-content-end">
                  <div class="col-12 col-md-2">
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal"  style="color:rgb(218,165,32)">Options</button>
                  </div>              
                </div>
              </div>                     
          </div>        
        </div>
      

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">OPTIONS</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <h3>Choose Collection:</h3>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="collection" id="flexRadioDefault1" value="cranfield" style="border-color:rgb(218,165,32) ; background-color: rgb(218,165,32);" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Cranfield
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="collection" id="flexRadioDefault1" value="cranfield" style="border-color:rgb(218,165,32) ; background-color: rgb(218,165,32);" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Scifact
                  </label>
                </div>
                              

                <h3>Choose IRM:</h3>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="irm" id="flexRadioDefault4" value="boolean" checked style="border-color:rgb(218,165,32) ; background-color: rgb(218,165,32);">
                  <label class="form-check-label" for="flexRadioDefault4">
                    Boolean
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="irm" id="flexRadioDefault5" value="vectorial" style="border-color:rgb(218,165,32) ; background-color: rgb(218,165,32);">
                  <label class="form-check-label" for="flexRadioDefault5">
                    Vectorial
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="irm" id="flexRadioDefault6" value="lsi" style="border-color:rgb(218,165,32) ; background-color: rgb(218,165,32);">
                  <label class="form-check-label" for="flexRadioDefault6">
                    LSI
                  </label>
                </div>
              </form>
            </div>
              
            <div class="modal-footer">
              <button class="btn btn btn-outline-light" type="button" id="button-save" style="color: rgb(218,165,32); border-color: rgb(218,165,32);" data-bs-dismiss="modal">SAVE</button>                                                               
                       
            </div>
          </div>
        </div>
      </div>
    </form>
      

    {% endblock %}   
   
