{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
    <h1>Browser's Name</h1>
    <div class="input-group mb-3">
        <input type="text" class="form-control" aria-describedby="button-addon2">
        <a href='results.html' class="btn btn-outline-secondary" type="button" id="button-addon2">Search</a>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
  </body>

  
  <script src="{% static 'js/bootstrap.min.js' %}" ></script>

</html>
